<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Friends</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let friend of items" (click)="itemTapped($event, friend)">
      <ion-icon [name]="friend.icon" item-left></ion-icon>
        {{friend.name}}
      <div class="item-note" item-right>
        {{friend.note}}
      </div>
    </button>
  </ion-list>


  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
